<!DOCTYPE html>
<html>
<head>
  <title>AssInterface</title>
  <%= stylesheet_link_tag    "ass_interface/application", media: "all" %>
  <%= javascript_include_tag "ass_interface/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
